openapi: 3.1.0
info:
  title: USPTO Trademark Search Database Status Trademark Lookup API
  description: The USPTO Trademark Search API provides access to United States Patent and Trademark Office trademark data via RapidAPI. It enables developers to search active trademarks by keyword, check trademark availability, perform serial number lookups, search by owner, and retrieve database status information. The API is maintained by MartonKodok and updated daily from USPTO data. Supports batch processing and pagination for high-volume trademark research.
  version: '1.0'
  contact:
    name: MartonKodok
    email: android482-one@yahoo.com
    x-twitter: martonkodok
  x-rapidapi-collection: https://rapidapi.com/pentium10/api/uspto-trademark
servers:
- url: https://uspto-trademark.p.rapidapi.com
  description: USPTO Trademark Search API via RapidAPI
security:
- RapidAPIKey: []
tags:
- name: Trademark Lookup
  description: Retrieve trademark details by serial number
paths:
  /v1/trademarkBySerial/{serialNumber}:
    get:
      operationId: getTrademarkBySerialNumber
      summary: Get Trademark by Serial Number
      description: Retrieves complete trademark information for a specific trademark using its USPTO serial number. Returns all filing details, status history, owner information, goods/services classifications, and prosecution history.
      tags:
      - Trademark Lookup
      parameters:
      - name: serialNumber
        in: path
        required: true
        description: The USPTO trademark serial number (8 digits)
        schema:
          type: string
          pattern: ^\d{8}$
        example: '88123456'
      responses:
        '200':
          description: Trademark details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrademarkDetail'
        '404':
          description: Serial number not found
components:
  schemas:
    TrademarkSummary:
      type: object
      properties:
        serialNumber:
          type: string
          description: USPTO trademark serial number
        registrationNumber:
          type: string
          nullable: true
          description: USPTO registration number (if registered)
        wordMark:
          type: string
          description: The text of the trademark
        status:
          type: string
          description: Current status of the trademark
        statusCode:
          type: string
          description: USPTO status code
        filingDate:
          type: string
          format: date
          description: Date the application was filed
        registrationDate:
          type: string
          format: date
          nullable: true
          description: Date the trademark was registered
        ownerName:
          type: string
          description: Name of the trademark owner
        goodsAndServices:
          type: string
          description: Description of goods and services
        internationalClasses:
          type: array
          items:
            type: integer
          description: International Nice Classification class numbers
    TrademarkDetail:
      allOf:
      - $ref: '#/components/schemas/TrademarkSummary'
      - type: object
        properties:
          description:
            type: string
            description: Full goods and services description
          ownerAddress:
            type: string
            description: Owner mailing address
          ownerCity:
            type: string
          ownerState:
            type: string
          ownerCountry:
            type: string
          ownerPostalCode:
            type: string
          correspondentName:
            type: string
            description: Correspondent attorney name
          correspondentAddress:
            type: string
          markType:
            type: string
            description: Type of mark (STANDARD_CHARACTER, DESIGN, etc.)
          distinctivenessClaim:
            type: string
            nullable: true
          firstUsedDate:
            type: string
            format: date
            nullable: true
          firstUsedInCommerceDate:
            type: string
            format: date
            nullable: true
          prosecutionHistory:
            type: array
            items:
              type: object
              properties:
                date:
                  type: string
                  format: date
                code:
                  type: string
                description:
                  type: string
  securitySchemes:
    RapidAPIKey:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
      description: RapidAPI subscription key
