openapi: 3.1.0
info:
  title: USPTO Trademark Search Database Status Owner Search API
  description: The USPTO Trademark Search API provides access to United States Patent and Trademark Office trademark data via RapidAPI. It enables developers to search active trademarks by keyword, check trademark availability, perform serial number lookups, search by owner, and retrieve database status information. The API is maintained by MartonKodok and updated daily from USPTO data. Supports batch processing and pagination for high-volume trademark research.
  version: '1.0'
  contact:
    name: MartonKodok
    email: android482-one@yahoo.com
    x-twitter: martonkodok
  x-rapidapi-collection: https://rapidapi.com/pentium10/api/uspto-trademark
servers:
- url: https://uspto-trademark.p.rapidapi.com
  description: USPTO Trademark Search API via RapidAPI
security:
- RapidAPIKey: []
tags:
- name: Owner Search
  description: Search trademarks by owner name
paths:
  /v1/trademarkOwner/{owner}:
    get:
      operationId: searchTrademarksByOwner
      summary: Search Trademarks by Owner
      description: Searches the USPTO trademark database for all trademarks owned by a specific individual or organization. Useful for brand portfolio analysis, competitive intelligence, and due diligence research.
      tags:
      - Owner Search
      parameters:
      - name: owner
        in: path
        required: true
        description: The trademark owner name (individual or company)
        schema:
          type: string
        example: Apple Inc.
      - name: page
        in: query
        required: false
        description: Page number for pagination (1-based)
        schema:
          type: integer
          default: 1
          minimum: 1
      responses:
        '200':
          description: Trademarks owned by the specified owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrademarkOwnerResponse'
        '404':
          description: No trademarks found for owner
components:
  schemas:
    TrademarkSummary:
      type: object
      properties:
        serialNumber:
          type: string
          description: USPTO trademark serial number
        registrationNumber:
          type: string
          nullable: true
          description: USPTO registration number (if registered)
        wordMark:
          type: string
          description: The text of the trademark
        status:
          type: string
          description: Current status of the trademark
        statusCode:
          type: string
          description: USPTO status code
        filingDate:
          type: string
          format: date
          description: Date the application was filed
        registrationDate:
          type: string
          format: date
          nullable: true
          description: Date the trademark was registered
        ownerName:
          type: string
          description: Name of the trademark owner
        goodsAndServices:
          type: string
          description: Description of goods and services
        internationalClasses:
          type: array
          items:
            type: integer
          description: International Nice Classification class numbers
    TrademarkOwnerResponse:
      type: object
      properties:
        owner:
          type: string
          description: The owner name that was searched
        count:
          type: integer
          description: Total number of trademarks found
        items:
          type: array
          items:
            $ref: '#/components/schemas/TrademarkSummary'
        page:
          type: integer
  securitySchemes:
    RapidAPIKey:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
      description: RapidAPI subscription key
